<% include header.html %>


<header>
	
	<% if (result!='') { %>  

	<section class="hometab">
		<nav class="tab-heading homeNav clear">
			<ul>
				<li class="xmsz tablight"><a>H5项目设置</a></li>
				<li class="hygl"><a>会员管理</a></li>
				<li class="gsxxgl"><a>公司信息管理</a></li>
				<li><a href="/logout">退出(<%=username%>)</a></li>
			</ul>
		</nav>
		
		<!-- <p class="label label-info">登陆时间： <%=date%> </p> -->
    
    	<div class="tab-body">
    		<ul>
	    		<li class="xmsz block">
	    			<!-- 项目设置 -->
	    			<div class="container-fluid">
						<div class="row-fluid">
							<div class="span12 xmsz-form">
								<form class="form-horizontal">
									<div class="control-group">
										 <label class="control-label" for="appname">该项目名称</label>
										<div class="controls">
											<input class="appname" name='appname' type="text" />
										</div>
									</div>
									<div class="control-group">
										 <label class="control-label" for="actname">首页标题</label>
										<div class="controls">
											<input type="text" class="actname" type="actname" />
										</div>
									</div>
									<div class="control-group">
										 <label class="control-label" for="actcontent">首页内容</label>
										<div class="controls">
											<textarea class="actcontent" name="actcontent" cols="30" rows="10"></textarea>
											
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
											 <a class="btn appsubmit">更新</a>
										</div>
									</div>
								</form>
							</div>
							<!-- <div class="span12">
								<h3>管理员信息</h3>
								<ul>
									<li>姓名：<%=username%></li>
									<li>姓名：<%=username%></li>
									<li>姓名：<%=username%></li>
									
								</ul>
							</div> -->
						</div>
					</div>
	    		</li>
	    		<li class="hygl">
	    			<div class="row-fluid">
		    			<div class="span12 user-curl">
		    				

							<form class="form-horizontal">
								<fieldset>
								    <legend>该操作需要二次登陆 </legend>
								</fieldset>
								<div class="control-group">
									 <label class="control-label" for="name">密钥名称</label>
									<div class="controls">
										<input name="name" type="text" />
									</div>
								</div>
								<div class="control-group">
									 <label class="control-label" for="key">密钥值</label>
									<div class="controls">
										<input name="key" type="password" />
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										 <button type="submit" data-cli="yanzheng" class="btn yanzheng">验证</button>
									</div>
								</div>
							</form>

						</div>
					</div>
	    		</li>
	    		<li class="gsxxgl" >
	    			
	    			<section class="container-fluid">
						<div class="row-fluid tab">
						  <div class="tab-gsxxgl">
						    <nav class="tab-heading">
						    	<ul>
						    		<li class="jbxx tablight"><a >基本信息</a></li>
						    		<li class="xzgs"><a >新增公司</a></li>
						    		<!-- <li class="xggs"><a >修改公司</a></li> -->
						    	</ul>
						    </nav>
						    <div class="tab-body body-gsxxgl span12">
						    	<ul>
						    		<li class="tab-inner jbxx inner-jbxx block">
						    			<p data-info="load" class="">载入中……</p>
						    		</li>
						    		<li class="tab-inner xzgs inner-xzgs">

						    			<form class="form-comadd form-horizontal" action="companyadd" method="post">
											<div class="control-group">
												 <label class="control-label" for="comname">公司名称</label>
												<div class="controls">
													<input class="comname" name='comname' type="text" />
												</div>
											</div>
											<div class="control-group">
												 <label class="control-label" for="content">公司简介</label>
												<div class="controls">
													<textarea class="content" name="comcontent" cols="200" rows="2"></textarea>
												</div>
											</div>
											<div class="control-group">
												 <label class="control-label" for="operate">运营情况</label>
												<div class="controls">
													<textarea class="operate" name="comoperate" cols="200" rows="2"></textarea>
													
												</div>
											</div>
											<div class="control-group">
												 <label class="control-label" for="future">未来发展</label>
												<div class="controls">
													<textarea class="future" name="comfuture" cols="200" rows="2"></textarea>
													
												</div>
											</div>
											<div class="control-group">
												 <label class="control-label" for="financing">融资需求</label>
												<div class="controls">
													<textarea class="financing" name="comfinancing" cols="200" rows="2"></textarea>
													
												</div>
											</div>
											<div class="control-group">
												 <label class="control-label" for="comlogo">公司logo</label>
												<div class="controls">
													<!-- <input id="img1" class="comlogo" name="comlogo" type="file" > --> 
													<input type="text" name="comlogo" placeholder="推荐：http://a.com/b.jpg" />
													<a class="btn addpic">手动上传图片</a>
													<b class="picshow"></b>
												</div>
											</div>
											<div class="control-group">
												<div class="controls">
													<input name="username" type="hidden" value="<%=username%>">

													<a class="btn comsubmit">增加</a>
													<!-- <button type="submit" class="btn user_submit">增加</button> -->
												</div>
											</div>
										</form>
										
						    		</li>
						    		<!-- <li class="tab-inner xggs inner-xggs">
						    			修改
						    		</li> -->

						    	</ul>
						    </div>
						  </div>

						</div>
				    </section>
	    		</li>

    		</ul>
    	</div>
    </section>

	<% } else{%>
    <section>
	<div class="well">
		<p>登录失败……</p>
		<a class='btn btn-primary' href="/">重新登陆</a>
	</div>
    </section>
    <%}%>
</header>


<footer>
    <section>
		<div class="tips"></div>
    </section>
</footer>

<% include footer.html %>




<script>
var twologin='';
window.onload=function(){

console.log(twologin);
	seajs.config({
	base: '/javascripts',
	alias: {
		'jquery': 'jquery/jquery/1.10.1/jquery',
        //"zepto":  "jquery/zepto/1.1.6/zepto",
        "zepto":  "jquery/zepto/1.0.0/zepto.min",
        "DT" : "jquery/datatable/1.10.4/jquery.dataTables",
        "all": "share/all/1.0.0/all",
        'verify':'share/verify/1.0.0/verify',
	  }
	})
	
    seajs.use(['zepto', 'all'], function($, A){

    	

    	var $ = Zepto;
     	
     	var actcontent = $('.actcontent'),
     		actname = $('.actname'),
     		appname = $('.appname'),
     		appsubmit = $('.appsubmit'),
     		gsxxgl = $('.gsxxgl'),
     		inner_jbxx = $('.inner-jbxx'),
     		comsubmit = $('.comsubmit'),
     		comname = $('.comname'),
     		content = $('.content'),
     		operate = $('.operate'),
     		future = $('.future'),
     		comlogo = $('.comlogo'),
     		financing = $('.financing');

     	$.fn.hiTab('.hometab');
     	$.fn.hiTab('.tab-gsxxgl');

     	$('.addpic').on('click', function(event) {
     		event.preventDefault();
     		$.fn.iframe('<iframe id="upiframe" src="upload?username=<%=username%>"></iframe>');
     		/* Act on the event */
     	});
     	$('body').on('click', '.close-iframe', function(event) {
     		event.preventDefault();
     		var upi = window.top.document.getElementById("upiframe").contentWindow,
                newpicurl = upi.document.getElementsByTagName('img')[0];

            if (newpicurl==undefined) {

            	alert('您没有选择图片');
            	$(this).closest('div').remove();
			    $('.close-father').remove();

            } else{

            	var fullpicurl = location.protocol+'//'+location.host+newpicurl.getAttribute('src');
	            $('input[name="comlogo"]').val(fullpicurl);
	            //$('.inner-xzgs').append('<>')
	            $('.picshow').html('<a href="'+fullpicurl+'" target="_blank"><img height="90px" src="'+fullpicurl+'"></a>')
	            $(this).closest('div').remove();
			    $('.close-father').remove();

            };

            
     		
     	});
     	// $('body').on('click', '.pic_upload', function(event) {
     	// 	event.preventDefault();
     	// 	$.post('upload', $('.pic_upload_form').serialize(), function(res) {
     			
     	// 		var res = JSON.parse(res);
     	// 		console.log(res);
     	// 		if (res.code==2000) {
     	// 			$('.addpic').data('picurl', res.data)
     	// 			A.alertHtml('.pic_upload_form', 'success', '增加 成功！', '');
     	// 		}else{
     	// 			A.alertHtml('.inner-xzgs', 'info', res.code, res.message);
     	// 		}
     	// 	});
     		
     	// });
     	//H5项目设置 读取
     	A.ajax('subject', {username:'<%=username%>'}, '.xmsz-form', function(d){
     		var d = d.data;
     		A.alertHtml('.xmsz-form', 'success', '项目信息获取成功', '');
     		actcontent.val(d.activenow.content);
     		actname.val(d.activenow.name);
     		appname.val(d.appset.name);

     	});
     	//H5项目设置 更新
     	appsubmit.on('click', function(e) {
     		e.preventDefault();
     		
     		A.ajax('subjectsave', {
     			username:'<%=username%>',
     			appname:appname.val(),
     			actname:actname.val(),
     			actcontent : actcontent.val(),
     		}, '.xmsz-form',function(d){
     			console.log(d);
     			A.alertHtml('.xmsz-form', 'success', '更新 成功！', '');
     		})
     	});
     	//基本信息读取 刷新 基本信息
     	$('.hometab').on('click', '.gsxxgl,.reload_jbxx', function() {
     		
     		//区分点击来源
     		if (inner_jbxx.find('p').data('info')=='load') {
     			loadCompany();
     		}else if($(this).data('click')=='nav'){
     			loadCompany();
     		}
     		
     	}).
     	on('click', '.com_delete', function(e) {
     		e.preventDefault();
     		var li = $(this).closest('div').parent('li');
			if(confirm("确定要删除吗？不能恢复哦")){

	     		A.ajax('comdelete', {username:'<%=username%>',id:li.attr('id')}, '.inner-jbxx', function(d){
	     			console.log(d);
	     			li.remove();
	     		})
	     		//公司删除
			  
			}else{
			   //取消
			}

     	});;
     	// 公司信息 新增

     	comsubmit.on('click', function(e) {
     		e.preventDefault();

     		//上传图片

     		$.post('companyadd', $('.form-comadd').serialize(), function(res) {
     			
     			var res = JSON.parse(res);
     			console.log(res);
     			if (res.code==2000) {
     				A.alertHtml('.inner-xzgs', 'success', '增加 成功！', '');
     			}else{
     				A.alertHtml('.inner-xzgs', 'info', res.code, res.message);
     			}
     		});
     		/*A.ajax('companyadd', {
     			username:'<%=username%>',
     			comname:comname.val(),
     			content:content.val(),
     			operate:operate.val(),
     			future:future.val(),
     			financing:financing.val(),
     			comlogo:comlogo.val(),
     		}, '.inner-xzgs', function(d){
     			console.log(d);
     			A.alertHtml('.inner-xzgs', 'success', '更新 成功！', '');

     		}, 'post')*/

     	});

     	//二次登陆验证
     	$('body').on('click', '.yanzheng,.reload_user', function(e) {
     		e.preventDefault();

     		     		//区分点击来源
     		if ($(this).data('cli')=='yanzheng') {
     			var thisForm = $(this).closest('form');

     			loadUser(thisForm.serialize(), thisForm);
     		}else if($(this).data('cli')=='reload_user'){
 
     			loadUser(twologin, '.user-curl');//
     		}

     		
     	})
     	.on('click', '.userdelete', function(event) {
     		event.preventDefault();
     		//user 增删改查  删除
     		var userid = $(this).closest('tr').children('td').eq(0).data('id');
     		console.log(userid);
     		/* Act on the event */
     		if(confirm("确定要删除吗？不能恢复哦")){

	     		A.ajax('remove1user?'+twologin, {username:'<%=username%>',id:userid}, '.user-curl', function(d){
	     			console.log(d);
	     			$(this).closest('tr').remove();
	     			A.alertHtml('.user-curl', 'success', '删除 成功！', '');
	     		})
	     		//用户删除
			}
     	}).
     	on('click', '.userupdate', function(event) {
     		//user 增删改查  更新

     		event.preventDefault();
     		var childtd = $(this).closest('tr').children('td'),
     			userid = childtd.eq(0).data('id');

     			console.log($(this));

     		var datadoc = {
     			username:'<%=username%>',
     			id:userid,
     			user:childtd.eq(1).find('input').val(),
     			password:childtd.eq(2).find('input').val(),
     			type:childtd.eq(4).find('select').val(),
     			email:childtd.eq(3).find('input').val(),
     		}
     		console.log(datadoc.type);
     		/* Act on the event */
     		A.ajax('up1user?'+twologin, datadoc, '.user-curl', function(d){
     			console.log(d);
     			A.alertHtml('.user-curl', 'success', '保存 成功！', '');

     		})
     	}).
     	on('click', '.useradd', function(event) {
     		//user 增删改查  新增

     		event.preventDefault();
     		var xuhao = $('.user-curl tbody').children('tr').last().children('td').eq(0).text()-0 + 1;
     		$('.user-curl tbody').append('<tr><td>'+xuhao+'</td><td><input value="'+A.random(7)+'" /></td><td><input value="empty" /></td><td><input value="empty" /></td><td>'+A.option[7]+'</td><td><a class="btn btn-danger useraddthis">就这样新增</a> </td></tr>');
     	}).
     	on('click', '.useraddthis', function(event) {
     		event.preventDefault();
     		/* Act on the event */
     	});




     	//加载公司信息
		function loadCompany(){
			inner_jbxx.html('加载中……');
			A.ajax('company', {username:'<%=username%>'}, '.inner-jbxx', function(d){
				
				if (d.data=='') {
					inner_jbxx.html('<p data-info="null" class="label label-info">数据不存在！</p><p class="btn btn-primary reload_jbxx" data-click="nav">刷新看看</p>');
				}else{
					var d = d.data;
					console.log(d.data);
					var str = '<div class="span12"><a class="btn btn-primary reload_jbxx" data-click="nav">刷新看看</a></div>';
				    A.lookCom(d, str, function(str){
				    	inner_jbxx.html('<div class="row-fluid"><ul class="thumbnails">'+str+'</ul></div>');
				    });
				};
			});
		}
		//加载用户信息
		function loadUser(data, thisForm){
			$('.user-curl').html('');
     		A.ajax('getuser', data, thisForm, function(d){
     			var d = d.data;
     			//console.log(d);
     			twologin = data;
     			console.log(twologin);

     			$('.user-curl').html('<div><a class="btn btn-primary useradd">新增</a> <a data-cli="reload_user" class="btn btn-success reload_user">刷新看看</a></div><table class="table table-hover"><thead><tr><th>序号</th><th>用户名</th><th>密码</th><th>邮箱</th><th>用户权限</th><th>操作</th></tr></thead><tbody></tbody></table>');
     			var str = '';

     			A.lookUser(d, str, function(str){
     				$('.user-curl tbody').append(str);
     			})


     		})

		}



    })




}

</script>