<%=include header.html%>
<!-- <link href="/stylesheets/bootstrap.css" rel="stylesheet"> -->
<link href="/stylesheets/index.css" rel="stylesheet">

</head>

<body >

<div id="wrapper">
	
	<section>


		<div id="com-intro">
			
		</div>
		
		
		<!-- Demo 1 HTML -->

		<div id="com-wrapper">
	
			<div id="companyList" class="clearfix">

				<div class="card project" data-next="0">
					<section class="row-fluid">
				        <ul class="span12">
				        	<li class="pro-name" data-appname="<%=project.appset.name%>"><%=project.activenow.name%></li>
				        	<li class="pro-text"><%=project.activenow.content%></li>
				        	<li style="font-size: small;margin: 6em 0 0 0;">温馨提示：可以用手势触摸左右翻页</li>
				        </ul>
				    </section>
				</div>
			<% d = comlist %>
			<% com_length = d.length %>
			<% if(com_length){ %>
			


				<% for(i=0;i<com_length;i++){ %>
					<div class="card" data-next="<%=(i+1)%>">
						<div class="thumbnail" data-pg="<%=i%>" data-id="<%=d[i]._id%>" data-cname="<%=d[i].name%>"> 
							<ul>
								<li><i>(<%=(i+1)%>/<%=com_length%>) </i> <b><%=d[i].name%></b></li>
								<!-- <li>logo: <a href="" target="_blank"><img src="" height="90" /></a></li> -->
								<li>
									<h4>公司介绍</h4>
									<p> <%=d[i].content%></p>
								</li>
								<li>
									<h4>运营情况</h4> 
									<p><%=d[i].operate%></p>
								</li>
								<li>
									<h4>未来发展</h4> 
									<p><%=d[i].future%></p>
								</li>
								<li>
									<h4>融资需求</h4>
									<p> <%=d[i].financing%></p>
								</li>

                                <li style="padding-bottom: 4em">
                                	<h4>简评</h4> 
                                	<p><%=d[i].comment%></p>
                                </li>
							</ul>
							<form class="interest-val">
							    <div class="interest-wrap">
							        <!-- <div class=""> -->
										<label class="btn btn-info" for="radioA" data-radio='0'>
											<input type="radio" name="interest" id="radioA">有兴趣 
										</label>  
										<label class="btn btn-info" for="radioB" data-radio='1'>
											<input type="radio" name="interest" id="radioB" > 一般 
										</label>
										<label class="btn btn-info" for="radioC" data-radio='2'>
											<input type="radio" name="interest" id="radioC" > 没兴趣 
										</label>
										<input type="hidden" name='getinterest' value='0'>
									<!-- </div> -->
							    </div>
								
							</form>
						</div>
						
					</div>	
				<% } %>
	        <% } %>

	        	<div class="card form-send" data-next="<%=(com_length+1)%>">
	        		<p>感谢您的参与，如果您已经选择完毕，那么请您提交结果</p>
	        		<p>如果提交成功，系统将提醒您注册，这样我们将更好的为您反馈结果，</p>
	        		<p>谢谢！</p>

					<p class="btn span12 btn-large btn-success oksubmit">确认无误－提交</p>
	        	</div>
			
			</div>
			
		</div>
	
	</section>

</div>





<%=include footer.html%>


<script type="text/javascript">
	
window.onload = function(){

	seajs.config({
	base: '/javascripts',
	alias: {
		//'jquery': 'jquery/jquery/1.10.1/jquery',
        "zepto":  "jquery/zepto/1.1.1/zepto.min",
        "all": "share/all/1.0.0/all",
        "modernizr":"jquery/modernizr/2.0.6/modernizr.min",
        "flickable":"jquery/flickable/1.0.4/zepto.flickable.min",
        //'verify':'share/verify/1.0.0/verify',
	  }
	})

	
    seajs.use([ 'modernizr','zepto', 'all', 'flickable'], function(M,$,A,F){

    	var $ = Zepto;

    	$('#companyList').css({
    		width: 320*(<%=comlist.length%>+2)+'px',
    	});

    	$('.card').bind('touchmove', function(event) {
    		/* Act on the event */
    		//var touchpros =event.touches[0];
    		var thisPGnum = $(this).data('next')
    		console.log(thisPGnum);
    		if (thisPGnum>0&&thisPGnum<(<%=com_length%>+1)) {

				if ($(this).find('input:checked').val()==null) {

					alert('请填写');

				}else{
					
					
				}
				
			}
    	});

    	if(!Modernizr.touch) {
				$('body').prepend('<div id="warning"><p>很抱歉你使用的是非触摸设备<br />这个Demo适合在手机或pad上演示，强制使用非IE内核浏览器（因为该页面主要服务于移动端用户），<br>并推荐ios5+系统，谢谢～</p></div>').css({
					background: '#dddddd',
				});
			}
			var segments = <%=comlist.length%> + 2;
			
			var options = {
				enableDebugger : false,
				segments : segments,
				
				onScrollNext : function(eventData, segment){
					console.log(segment);
					/*var thisPGnum = segment-1;
					var thisPG = $('[data-pg="'+thisPGnum+'"]');
					console.log('当前：'+thisPGnum);
					//console.log('总共：'+segments);
					if (thisPGnum>0&&thisPGnum<(segments-1)) {

						if ($('.interest-wrap').eq(thisPGnum-1).find('input:checked').val()==null) {

							console.log('请填写');
							onScrollNext(eventData,thisPGnum-1);

							return false;
						}else{
							console.log('上一页ok');
							
						}
						
					}*/
					
				},
				onMove: function(eventData, segment) {
					console.log('滚动咯');
				}
				
			}
			$('#companyList').flickable(options);
			
			// $('.front, .back').tap(function() {
			// 	var el = $(this).parent();
			// 	el.toggleClass('flipped')
			// });
			
			if(!Modernizr.touch) {

				$('#com-intro').append('<p><a class="prev">上一页</a> | <a class="next">下一页</a></p>');
				$('.next').click(function() { $('#companyList').flickable('scrollNext');});
				$('.prev').click(function() { $('#companyList').flickable('scrollPrev');});
				
				// $('.front, .back').click(function() {
				// 	var el = $(this).parent();
				// 	el.toggleClass('flipped')
				// });
			}


		//$('title').text($('.pro-name').data('appname'));
		$('body').on('click', '.oksubmit', function(event) {
			event.preventDefault();
			/* Act on the event */
            var ganxingqu = A.interest('thumbnail', 0),
                yiban = A.interest('thumbnail', 1),
                meixingqu = A.interest('thumbnail', 2);


            //console.log(JSON.stringify(ganxingqu));
            //console.log(JSON.stringify(yiban));
            //console.log(JSON.stringify(meixingqu));

            A.ajax('userincom', {
                code:location.search.split('code=')[1].split('&')[0],
                interest:JSON.stringify(ganxingqu),
                disinterest:JSON.stringify(meixingqu),
                general:JSON.stringify(yiban),
            }, 'body', function(d){
                console.log(d);
                $('body').html('<div class="form-send"><p>注册后我们会给您提供更有效的反馈意见。</p><p><a href="/register" class="btn zhuce btn-large btn-info">那就注册一下</a></p></div>');
            })
            
			
		}).
        on('click', 'label', function() {
            $(this).siblings('input[name="getinterest"]').val($(this).data('radio'));
        });


	})
}

</script>


